/* Priority */
/* Inline Styling > Ids > classes > tags */

ol {
    background-color: yellow;
}

img {
    width: 300px;
}

p.question {
    color: red;
}

.answer {
    color: green;
}

#first-question {
    color: brown;
}

.welcome {
    height: 100px;
    padding: 16px;
    border: 4px solid red;
    /* background-color: blue; */
    margin: 32px 16px 48px;
    /* margin-left: -10px; */

    /* position: static; */

    /* position: relative;
    bottom: 200px;
    left: 100px; */

    /* position: absolute;
    bottom: 100px;
    right: 200px; */

    /* position: fixed;
    top: 100px;
    right: 200px; */

    /* position: sticky;
    top: 10px; */
}

.welcome > ul {
    list-style-type: none;
}

/* body > ul {
    list-style-type: none;
} */